<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unite Login</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:inline="javascript">
        $(function () {
            $('#loginForm').on('submit', function (event) {
                event.preventDefault();

                const empId = $('#empId').val();
                const password = $('#password').val();

                $.ajax({
                    url: /*[[@{/auth/login/process}]]*/ '',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({empId: empId, password: password}),
                    success: function () {
                        alert("로그인 성공, 환영합니다 " + empId + "님")
                        window.location.href = '/home';
                    },
                    error: function () {
                        alert('아이디 또는 비밀번호를 확인하세요');
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <h1>Unite</h1>
            <img th:src="@{/image/logo_black.png}" alt="logo">
        </div>
        <form name="loginForm" id="loginForm">
            <input type="text" placeholder="아이디를 입력해주세요" name='empId' id="empId" required autocomplete="username">
            <span class="idText"></span>
            <input type="password" placeholder="비밀번호를 입력해주세요" name='password' id="password" required
                   autocomplete="current-password">
            <span class="pwText"></span>
            <div class="options">
                <label class="checkbox-label">
                    <input type="checkbox" name='remember' id="remember" value="store">
                    아이디 저장
                </label>
                <a th:href="@{/auth/findPassword}">비밀번호 찾기</a>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>


