<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script th:src="@{/js/resetPassword.js}"></script>
    <link rel="stylesheet" th:href="@{/css/resetPassword.css}">
</head>
<body>
<div class="container">
    <div class="logo">
        	<span>
        	Unite
        	<img th:src="@{/image/logo_black.png}" alt="logo">
        	</span>
        <a href="login">로그인</a>
    </div>
    <h2>비밀번호 재설정</h2>
    <label class="id">사번:&nbsp;[[${empId}]]</label>
    <form id="resetPasswordForm">
        <input type="password" name="newPassword" id="newPassword" placeholder="새 비밀번호">
        <span class="newPwText"></span>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="새 비밀번호 확인">
        <span class="confirmPwText"></span>
        <button type="submit" class="submit-btn">확인</button>
    </form>
</div>
</body>
</html>
