<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Messenger UI</title>
            <link th:href="@{/css/messengerMain.css}" rel="stylesheet"/>
            <script th:src="@{/js/messengerMain.js}" th:inline="javascript"></script>
        </head>
        <body>
        <div class="container-messenger m-auto">
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="messenger-header" th:data-sender-id="${empId}">
                    <div>
                        <img class="messenger-sender-img" th:src="|/api/emp/profile-image?empId=${empId}|" alt="프로필">
                        <span id="senderName" class="fw-semibold fs-3" th:text="${empMap.get(empId)}"
                              style="margin-left: 10px; vertical-align: middle;"></span>
                    </div>
                    <a href="javascript:void(0);" th:attr="data-target='employeeModal'"
                       id="addChat" style="margin-right: 10px;">
                        <img src="/image/addChat.png" alt="addChat" style="width: 45px;color:black;"/>
                    </a>
                </div>
                <div id="messenger-body" class="messenger-body scroll messenger-no-chat" style="padding:0">
                    <i class="bi bi-chat fw-semibold" style="font-size: 5rem; color:#ccc; height: 105px;"></i>
                    <div class="fs-2 fw-semibold" style="color:#ccc">
                        No Chat
                    </div>
                    <!--                    <div class="messenger-room">-->
                    <!--                        <div class="messenger-room-title">-->
                    <!--                            <div class="messenger-chat">The Real Backpackers</div>-->
                    <!--                            <span class="messenger-last-message-date">2025.01.01 00:00:00</span>-->
                    <!--                        </div>-->
                    <!--                        <div class="messenger-room-content">-->
                    <!--                            <span class="messenger-last-message">hiajiejfialjsilefjailsjfklenfoiwfnaoinoidngodiendgao;wneoigna;owv3ov nhra8onv 3rhv anow83hvra;w83hrv;aow83hrv;aow83hrva;owh38hrv;n aow83hrv;aow83hrvo;a8</span>-->
                    <!--                            <div class="messenger-unread-message-count">3</div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="messenger-room">-->
                    <!--                        <div class="messenger-room-title">-->
                    <!--                            <div class="messenger-chat">The Real Backpackers</div>-->
                    <!--                            <span class="messenger-last-message-date">2025.01.01 00:00:00</span>-->
                    <!--                        </div>-->
                    <!--                        <div class="messenger-room-content">-->
                    <!--                            <span class="messenger-last-message">아머니ㅏㅇ러ㅑㅐㅔㅈ더랴ㅐ머댜러냐미ㅓ랴ㅣㄷ너랴ㅣㅓ라먀더랴너댜람ㅁㅁ러ㅣㅏ머댜ㅣ럼ㄴ다ㅣㅓ림ㄴ더리ㅑㅁ넏랴ㅣ먼;ㄷ랴ㅣㅓㅁ;ㄴ디ㅑ럼니댜럼;ㄴ디ㅑ럼;니댜러먀ㅣ넏랴ㅣㅁ넏리ㅑㅗㅑ돔재8로매</span>-->
                    <!--                            <div class="messenger-unread-message-count">3</div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                    <!--                    <div class="messenger-room">Dad</div>-->
                </div>
            </div>

            <!-- messenger Section -->
            <div class="messenger-middle messenger-no-chat">
                <i class="bi bi-chat fw-semibold" style="font-size: 5rem; color:#ccc; height: 105px;"></i>
                <div class="fs-2 fw-semibold" style="color:#ccc">
                    No Chat
                </div>
                <!--                                <div class="messenger-header" style="height: 100px;">-->
                <!--                                    <span class="messenger-chat-room">The Real Backpackers</span>-->
                <!--                                    <button id="info-toggle"><i class="bi bi-list fs-1"></i></button>-->
                <!--                                </div>-->
                <!--                                <div class="messenger-content-body scrollbar">-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">John</div>-->
                <!--                                            <div class="messenger-message-text">Hey guys, let's climb a summit in the summer</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Amy</div>-->
                <!--                                            <div class="messenger-message-text">Sounds like a great idea! Count me in.</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Raj</div>-->
                <!--                                            <div class="messenger-message-text">Let's do Mount Kilimanjaro</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Elaine</div>-->
                <!--                                            <div class="messenger-message-text">Let's do this!</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Elaine</div>-->
                <!--                                            <div class="messenger-message-text">Let's do this!</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Elaine</div>-->
                <!--                                            <div class="messenger-message-text">Let's do this!</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                    <div class="messenger-message">-->
                <!--                                        <div class="messenger-message-start">-->
                <!--                                            <div class="messenger-sender-img-box">-->
                <!--                                                <img class="messenger-sender-img" src="/api/emp/profile-image?empId=admin" alt="프로필">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-middle">-->
                <!--                                            <div class="messenger-sender-name">Elaine</div>-->
                <!--                                            <div class="messenger-message-text">Let's do this!Hey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summerHey guys, let's climb a summit in the summer</div>-->
                <!--                                        </div>-->
                <!--                                        <div class="messenger-message-end">2025-01-16</div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                                <div class="messenger-footer">-->
                <!--                                    <input type="text" placeholder="Enter message">-->
                <!--                                    <button>Send</button>-->
                <!--                                </div>-->
            </div>

            <!-- messenger Info Section -->
            <div class="messenger-info" id="messenger-info">
                <div class="messenger-info-header">Channel Information</div>
                <div class="messenger-info-body">
                    <div>Member</div>
                    <div class="member">John</div>
                    <div class="member">Amy</div>
                    <div class="member">Raj</div>
                    <div class="member">Elaine</div>
                    <button>초대하기</button>
                </div>
                <div class="messenger-info-footer">
                    <button>Leave Channel</button>
                </div>
            </div>
        </div>
        <!-- 모달 -->
        <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-semibold" id="employeeModalLabel">
                            New Chat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 조직도와 직원 목록 포함 -->
                        <th:block th:include="common/empTree.html"/>
                    </div>
                    <div class="modal-footer">
                        <div id="user-list" class="modal-operator-list" style="width: 100%;">
                        </div>
                        <button type="button" class="btn mt-2 border-1 border-secondary" id="insertEmpBtn">채팅방 개설
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const $messengerContentBody = $('.messenger-content-body');

            document.addEventListener('click', (event) => {
                const infoToggle = event.target.closest('#info-toggle');
                if (infoToggle) {
                    const messengerInfo = document.querySelector('.messenger-info');
                    if (messengerInfo) {
                        messengerInfo.classList.toggle('active');
                    }
                }
            });

            function scrollToBottom() {
                $messengerContentBody.scrollTop($messengerContentBody.prop("scrollHeight"));
            }

            document.addEventListener("DOMContentLoaded", function () {
                scrollToBottom();
            })
        </script>
        </body>
        </html>
    </th:block>
</th:block>