<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>마감 프로젝트</title>
            <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet"
                  type="text/css">
            <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" type="text/javascript"></script>
            <script th:src="@{/js/birthday.js}"></script>
            <link th:href="@{/css/birthday.css}" rel="stylesheet"/>
        </head>
        <body>
        <main>
            <div class="col-lg-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="text-center"><i class="bi bi-cake2-fill"></i>&emsp;생일 축하합니다!&emsp;<i
                                class="bi bi-cake2-fill"></i></h5>
                        <ul class="list-group">
                            <li class="list-group-item text-center birthday-list"
                                style="margin-top: 10px; padding-bottom: 0px;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        </body>
        </html>
    </th:block>
</th:block>