<th:block th:replace="layout :: setContent(~{this::content})">
	<th:block th:fragment="content">
		<!DOCTYPE html>
		<html xmlns:th="http://www.thymeleaf.org">
			<head>
				<meta charset="UTF-8">
				<title>진행과정</title>
			<!--	<jsp:include page="project_leftbar.jsp"/>-->
				<link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet"
					  type="text/css">
				<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" type="text/javascript"></script>
				<script>
					const contextPath = "${pageContext.request.contextPath}";
				</script>
				<style>

				</style>
			</head>
			<body>
				<div th:if="${delete_message}" class="alert alert-success" style="display: none;">
					<script th:inline="javascript">
						alert([[${delete_message}]]);
					</script>
				</div>

				<div th:if="${delete_error}" class="alert alert-danger" style="display: none;">
					<script th:inline="javascript">
						alert([[${delete_error}]]);
					</script>
				</div>
				<main>
					<div class="container-fluid px-4">
						<h1 class="mt-4" style="color: #334466; font-weight: bold">[[${projectName}]]</h1>
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Tables</li>
						</ol>
						<div class="card mb-4">
							<div class="card-body">
								[[${message}]]
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-table me-1"></i>
								[[${memberName}]] 게시글
							</div>
							<th:block th:if="${#strings.isEmpty(list)}">
								<span style="font-size: 30px; padding: 30px;">게시글이 없습니다</span>
							</th:block>
							<th:block th:if="${not #strings.isEmpty(list)}">
								<div class="card-body">
									<table id="taskListTable" class="display table member">
										<thead>
										<tr>
											<th style="width: 105px;">번호</th>
											<th>카테고리</th>
											<th>제목</th>
											<th>내용</th>
											<th>작성일</th>
											<th>수정일</th>
											<th>첨부파일</th>
										</tr>
										</thead>
										<tbody id="boardContent">
											<th:block th:each="task, status : ${boardlist}">
												<tr th:onclick="|GoProjectComm('${task.taskId}')|">
													<td th:text="${status.index + 1}">번호</td>
													<td th:text="${task.toDo != null ? task.toDo : ''}">카테고리</td>
													<th:block th:if="${not #strings.isEmpty(comm[task.taskId])}">
														<td th:text="|${task.taskSubject} [${comm[task.taskId]}]|">제목</td>
													</th:block>
													<th:block th:unless="${not #strings.isEmpty(comm[task.taskId])}">
														<td th:text="${task.taskSubject}">제목</td>
													</th:block>
													<td th:text="${task.taskContent}">내용</td>
													<td th:text="${task.taskDate}">작성일</td>
													<td th:text="${task.taskUpdateDate}">수정일</td>
													<td th:text="${task.taskFileOriginal}">첨부파일</td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</th:block>
						</div>
					</div>
				</main>
				<script th:inline="javascript">
					$(document).ready( function () {
						$('#taskListTable').DataTable();
					} );
					function GoProjectComm(taskId) {
						let projectId = /*[[${projectId}]]*/0;
						let memberId = /*[[${memberId}]]*/0;
						window.location.href = '/projectBoard/comm?taskId=' + taskId + '&projectId=' + projectId + '&memberId=' + memberId;
					}
				</script>
			</body>
		</html>
	</th:block>
</th:block>
