<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>취소 프로젝트</title>
            <!--    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/leftbar.css">-->
            <link rel="stylesheet" type="text/css" th:href="@{/css/project.css}">
            <script th:src="@{/js/project_cancel_list.js}"></script>
            <script th:inline="javascript">
                const contextPath = "${pageContext.request.contextPath}";
            </script>
            <!--    <jsp:include page="../common/header.jsp"/>-->
            <th:block th:replace="~{project/project_leftbar :: leftbar}"/>
        </head>
        <body>
        <table class="table">
            <caption><h2>취소 프로젝트</h2></caption>
            <thead>
            <tr>
                <th>코드명</th>
                <th>프로젝트명</th>
                <th>책임자</th>
                <th>참여자</th>
                <th>열람자</th>
                <th>시작일</th>
                <th>취소일</th>
                <th>첨부파일</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        </body>
        </html>
    </th:block>
</th:block>