<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet"
                  type="text/css">
            <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" type="text/javascript"></script>
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs5.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs5.min.js"></script>
            <script th:src="@{/js/notice.js}"></script>
            <meta charset="UTF-8">
            <title>공지사항</title>
            <style>
                .custom-modal-width {
                    max-width: 40%; /* 원하는 비율로 조정 */
                    max-height: 90%; /* 원하는 비율로 조정 */
                }

                #notice_table th {
                    text-align: center;
                }
            </style>
        </head>
        <body>
        <main>
            <div class="container px-4">
                <h1 class="mt-4 mb-4" style="color: #334466; font-weight: bold">공지사항</h1>
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fas fa-cogs"></i>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm me-2"
                                    onclick="openInsertModal()">등록
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="noticeTable" class="display">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>게시 종료일</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 공지글 작성 및 수정 모달 -->
            <div class="modal fade" id="noticeWriteModal" tabindex="-1" aria-labelledby="noticeWriteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog custom-modal-width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="noticeWriteModalLabel">공지사항</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="noticeAddForm">
                                <input type="hidden" id="noticeId">
                                <!-- 제목과 날짜 필드를 나란히 배치 -->
                                <div class="form-group row">
                                    <!-- 제목 입력 필드 -->
                                    <div class="col-md-8">
                                        <label for="subject" class="form-label" style="font-weight: bold">제목(관리 차원의
                                            제목이며,
                                            팝업엔 노출되지
                                            않습니다.)</label>
                                        <input type="text" class="form-control" id="subject" name="subject"
                                               placeholder="제목을 작성해주세요"
                                               required>
                                    </div>

                                    <!-- 게시 종료일 입력 필드 -->
                                    <div class="col-md-4">
                                        <label for="endDate" class="form-label" style="font-weight: bold">게시종료일</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" id="endDate" name="endDate"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Summernote 에디터 -->
                                <div class="form-group">
                                    <label for="content" class="form-label" style="font-weight: bold">내용</label>
                                    <textarea class="summernote form-control" id="content" name="content"
                                              required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="insertNotice" style="display: none;"
                                    onclick="insertNotice()">등록
                            </button>
                            <button type="button" class="btn btn-primary" id="updateNotice" style="display: none;"
                                    onclick="updateNotice()">수정
                            </button>
                            <button type="button" class="btn btn-danger" id="deleteNotice" style="display: none;"
                                    onclick="deleteNotice()">삭제
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </body>
        </html>
    </th:block>
</th:block>