<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
            <head>
                <title>자원예약</title>
                <script th:src="@{https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js}"></script>
                <script th:src="@{https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js}"></script>
                <script th:src="@{https://cdn.jsdelivr.net/npm/@fullcalendar/moment@6.1.15/index.global.min.js}"></script>
                <script th:src="@{/js/reservation.js}"></script>
                <style>
                    #calendar {
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    #calendar a {
                        text-decoration: none;
                        color: #000;
                    }

                    #calendar {
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    .btn_wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btn_wrap button {
                        margin: 0 5px;
                    }

                    .deatail_list li + li {
                        margin-top: 10px;
                    }

                    .form-group > label {
                        margin-bottom: 5px;
                    }
                </style>
            </head>
            <body class="sb-nav-fixed">
                <div class="p-5">
                    <div class="mb-5">
                        <select name="resourceTypeCategory" id="resourceTypeCategory"></select>
                        <select name="resourceNameCategory" id="resourceNameCategory"></select>
                    </div>
                    <div id="calendar"></div>
                </div>

                <!-- 자원 예약 모달 -->
                <div class="modal" id="reservationModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">예약 하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form name="reservationEvent" method="post">
                                    <input type="hidden" id="reservation_id" name="reservation_id" th:value="${reservation_id}">
                                    <input type="hidden" id="emp_id" name="emp_id" th:value="${#authentication.name}">

                                    <div class="form-group custom-control custom-checkbox mb-3">
                                        <input type="checkbox" name="allDay" id="allDay" class="custom-control-input" th:value="${''}">
                                        <label for="allDay" class="custom-control-label">종일</label>
                                    </div>

                                    <div class="modify_area mb-3">
                                        <div class="form-group mb-3">
                                            <label for="startAt">시작 일시</label>
                                            <input type="datetime-local" name="startAt" id="startAt" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="endAt">종료 일시</label>
                                            <input type="datetime-local" name="endAt" id="endAt" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <p style="margin-bottom: 5px;">자원선택</p>
                                            <div>
                                                <select name="resourceType" id="resourceType"></select>
                                                <select name="resourceName" id="resourceName"></select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="reservationInfo" style="margin-bottom: 5px;">
                                                사용용도 <span id="charCount">0/100</span>
                                            </label>
                                            <input type="text" name="reservationInfo" id="reservationInfo" class="form-control" maxlength="100">
                                        </div>
                                    </div>

                                    <div class="btn_wrap">
                                        <button type="reset" class="btn btn-secondary">취소</button>
                                        <button type="submit" class="btn btn-info" id="btnRegister">등록</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //자원 예약 모달 -->

                <!-- 예약 상세정보 모달 -->
                <div class="modal" id="reservationDetailModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">예약 정보</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- data 영역 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //예약 상세정보 모달 -->
            </body>
        </html>
    </th:block>
</th:block>