<th:block th:replace="layout :: setContent(~{this::content})">
	<th:block th:fragment="content">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시판</title>
<link rel="stylesheet" th:href="@{/css/boardHome.css}">
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/boardHome.js}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script>
//const contextPath = "${pageContext.request.contextPath}";
//const profileUUID = "${sessionScope.profileUUID}";
</script>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/leftbar.css}">
<script th:src="@{/js/leftbar.js}"></script>
<script th:inline="javascript">
	const result = '[(${url})]';

	if(result !== ''){
		alert(result);
	}
</script>
<!-- <th:block th:replace="~{/common/header :: headerFragment}"/> -->
<div class="main">
	<th:block th:replace="~{/board/sidebar :: boardSidebarFragment}"/>

	<div class="content">
	  <div class="boardTitle">게시판 홈</div>
	  <div class="boardContent"><!-- 추가 게시글을 이곳에 추가할 수 있습니다 -->
	  
	  </div>
	</div>
</div>


</body>
</html>
	</th:block>
</th:block>