<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>게시판</title>
            <link rel="stylesheet" th:href="@{/css/boardHome.css}">
            <script th:inline="javascript">
                const result = '[(${message})]';

                if (result !== '') {
                    alert(result);
                }
            </script>
            <script type="module" th:src="@{/js/boardHome.js}"></script>
        </head>
        <body>
        <div class="main">
            <th:block th:replace="~{board/sidebar :: boardSidebarFragment}"/>

            <div class="content">
                <div class="boardTitle">게시판 홈</div>
                <div class="boardContent">

                </div>
            </div>
        </div>

        <div id="loading-overlay"
             style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 9999;">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <img src="/image/spinner.webp" alt="Loading..." style="width: 100px; height: 100px;">
                <span style="font-size: 30px; font-weight: bold; margin-left: 30px">Loading...</span>
            </div>
        </div>

        </body>
        </html>
    </th:block>
</th:block>