<th:block th:replace="layout :: setContent(~{this::content})" xmlns:th="http://www.w3.org/1999/html">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <title>나의 인사정보</title>
            <link rel="stylesheet" type="text/css" th:href="@{/css/empInfo.css}">
            <script th:src="@{/js/empInfo.js}"></script>

        </head>
        <body>
        <div class="container">
            <h2>나의 인사정보 ([[${empInfoDTO.emp.ename}]])</h2>
            <form id="infoForm" enctype="multipart/form-data" method="post" th:action="@{/updateEmployeeInfo}">
                <input type="hidden" name="empId" th:value="${empInfoDTO.emp.empId}">
                <div class="profile-img-container">
                <span id="showImage">
                            <img th:src="@{/api/emp/profile-image(empId=${empInfoDTO.emp.empId})}"
                                 width="200px" class="profile-img" alt="profile" id="over_view"/>
                                <th:block th:if="${empInfoDTO.emp.getImgUUID()!=null}">
                                <img th:src="@{/image/cancel.png}" alt="파일삭제" width="20px" class="remove_img"
                                     style="display: none"/>
                                </th:block>
                        </span>
                    <div id="fileUploadSection" style="display: none;">
                        <br>
                        현재 파일 :
                        <span id="fileName"
                              th:text="${empInfoDTO.emp.imgOriginal != null ? empInfoDTO.emp.imgOriginal : '파일 없음'}"></span>
                        <br>
                        <input type="file" name="file" id="file" accept="image/*">
                    </div>
                </div>

                <table class="table">
                    <caption><h3>기본 정보</h3></caption>
                    <tbody>
                    <tr>
                        <th>사번</th>
                        <td><input type="text" name="empId" th:value="${empInfoDTO.emp.empId}" readonly></td>
                        <th>이름</th>
                        <td><input type="text" name="ename" th:value="${empInfoDTO.emp.ename}" readonly></td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>
                            <select name="gender" disabled>
                                <option value="남" th:selected="${empInfoDTO.emp.gender == '남'}">남성</option>
                                <option value="여" th:selected="${empInfoDTO.emp.gender == '여'}">여성</option>
                            </select>
                        </td>
                        <th>이메일</th>
                        <td><input type="email" name="email" th:value="${empInfoDTO.emp.email}" readonly></td>
                    </tr>
                    <tr>
                        <th>내선번호</th>
                        <td><input type="text" name="tel" th:value="${empInfoDTO.emp.tel}" readonly></td>
                        <th>휴대폰번호</th>
                        <td><input type="text" name="mobile" th:value="${empInfoDTO.emp.mobile}" readonly></td>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td>
                            <th:block th:if="${empInfoDTO.emp.role.toString() == 'ROLE_ADMIN'}">
                                관리자
                            </th:block>
                            <th:block th:if="${empInfoDTO.emp.role.toString() != 'ROLE_ADMIN'}">
                                <select name="deptId" disabled>
                                    <option th:each="dept : ${empInfoDTO.deptList}"
                                            th:value="${dept.deptId}"
                                            th:text="${dept.deptName}"
                                            th:selected="${empInfoDTO.emp.deptId == dept.deptId}"></option>
                                </select>
                            </th:block>
                        </td>
                        <th>직책</th>
                        <td>
                            <th:block th:if="${empInfoDTO.emp.role.toString() == 'ROLE_ADMIN'}">
                                관리자
                            </th:block>
                            <th:block th:if="${empInfoDTO.emp.role.toString() != 'ROLE_ADMIN'}">
                                <select name="jobId" disabled>
                                    <option th:each="job : ${empInfoDTO.jobList}"
                                            th:value="${job.jobId}"
                                            th:text="${job.jobName}"
                                            th:selected="${empInfoDTO.emp.jobId == job.jobId}"></option>
                                </select>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>입사일</th>
                        <td><input type="date" name="hireDate" th:value="${empInfoDTO.emp.hireDate}" readonly></td>
                        <th>은행</th>
                        <td><input type="text" name="bank" th:value="${empInfoDTO.emp.bank}" readonly></td>
                    </tr>
                    <tr>
                        <th>계좌번호</th>
                        <td><input type="text" name="account" th:value="${empInfoDTO.emp.account}" readonly></td>
                        <th>긴급연락처</th>
                        <td><input type="text" name="mobile2" th:value="${empInfoDTO.emp.mobile2}" readonly></td>
                    </tr>
                    <tr>
                        <th>채용구분</th>
                        <td>
                            <select name="hireType" disabled>
                                <option value="경력" th:selected="${empInfoDTO.emp.hireType == '경력'}">경력</option>
                                <option value="신입" th:selected="${empInfoDTO.emp.hireType == '신입'}">신입</option>
                                <option value="인턴" th:selected="${empInfoDTO.emp.hireType == '인턴'}">인턴</option>
                            </select>
                        </td>
                        <th>직원구분</th>
                        <td>
                            <select name="etype" disabled>
                                <option value="정규직" th:selected="${empInfoDTO.emp.etype == '정규직'}">정규직</option>
                                <option value="계약직" th:selected="${empInfoDTO.emp.etype == '계약직'}">계약직</option>
                                <option value="퇴직" th:selected="${empInfoDTO.emp.etype == '퇴직'}">퇴직</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td style="display: flex; gap: 8px; align-items: center;">
                            <select name="birthdayType" disabled>
                                <option value="양력" th:selected="${empInfoDTO.emp.birthdayType}=='양력'">양력</option>
                                <option value="음력" th:selected="${empInfoDTO.emp.birthdayType}=='음력'">음력</option>
                            </select>
                            <input type="date" name="birthday" th:value="${empInfoDTO.emp.birthday}" readonly>
                        </td>
                        <th>주소</th>
                        <td><input type="text" name="address" th:value="${empInfoDTO.emp.address}" readonly></td>
                    </tr>
                    <tr>
                        <th>자녀</th>
                        <td>
                            <select name="child" disabled>
                                <option value="true" th:selected="${empInfoDTO.emp.child}">Y</option>
                                <option value="false" th:selected="!${empInfoDTO.emp.child}">N</option>
                            </select>
                        </td>
                        <th>결혼여부</th>
                        <td>
                            <select name="married" disabled>
                                <option value="true" th:selected="${empInfoDTO.emp.married}">Y</option>
                                <option value="false" th:selected="!${empInfoDTO.emp.married}">N</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>최종학력</th>
                        <td><input type="text" name="school" th:value="${empInfoDTO.emp.school}" readonly></td>
                        <th>전공</th>
                        <td><input type="text" name="major" th:value="${empInfoDTO.emp.major}" readonly></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <caption>자격증 및 외국어</caption>
                    <tbody>
                    <tr>
                        <th>자격증</th>
                        <td colspan="3" id="certifications">
                            <th:block th:each="cert : ${empInfoDTO.certList}">
                                <div class="cert-item">
                                    <input type="text" name="cert" th:value="${cert.certName}"
                                           class="form-control cert-input" readonly>
                                    <button type="button" class="btn btn-sm btn-light remove-cert"
                                            style="display: none;">-
                                    </button>
                                </div>
                            </th:block>
                            <div class="cert-add" style="display: none;">
                                <button type="button" class="btn btn-sm btn-light add-cert">자격증 추가</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>외국어</th>
                        <td colspan="3" id="languages">
                            <th:block th:each="lang : ${empInfoDTO.langList}">
                                <div class="lang-item">
                                    <input type="text" name="lang" th:value="${lang.langName}"
                                           class="form-control lang-input" readonly>
                                    <button type="button" class="btn btn-sm btn-light remove-lang"
                                            style="display: none;">-
                                    </button>
                                </div>
                            </th:block>
                            <div class="lang-add" style="display: none;">
                                <button type="button" class="btn btn-sm btn-light add-lang">외국어 추가</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-container">
                    <button type="button" class="btn btn-primary" id="editButton">수정</button>
                    <button type="submit" class="btn btn-secondary" id="saveButton" disabled>저장</button>
                </div>
            </form>
        </div>
        </body>
        </html>
    </th:block>
</th:block>
