<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <title>table</title>
            <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet"
                  type="text/css">
            <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" type="text/javascript"></script>
            <script th:src="@{/js/empList.js}" type="text/javascript"></script>
        </head>
        <body>
        <main>
            <div class="container px-4">
                <h1 class="mt-4" style="color: #334466; font-weight: bold">[[${title}]]</h1>
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        [[${message}]]
                    </div>
                </div>
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        직원정보
                    </div>
                    <div class="card-body">
                        <table id="empListTable" class="display">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>부서</th>
                                <th>직책</th>
                                <th>이메일</th>
                                <th>내선번호</th>
                                <th>휴대전화</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="emp : ${empList}">
                                <tr>
                                    <td><a th:href="@{${url}(empId=${emp.empId})}">[[${emp.ename}]]</a></td>
                                    <td th:text="${emp.deptName}">부서</td>
                                    <td th:text="${emp.jobName}">직책</td>
                                    <td th:text="${emp.email}">이메일</td>
                                    <td th:text="${emp.tel}">내선번호</td>
                                    <td th:text="${emp.mobile}">휴대전화</td>
                                    <td style = "display: none" th:text="${emp.jobId}">직책번호</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        </body>
        </html>
    </th:block>
</th:block>
