<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <title>table</title>
            <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
            <link th:href="@{/css/layout.css}" rel="stylesheet"/>
            <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        </head>
        <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" style="color: #334466; font-weight: bold">[[${title}]]</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        [[${message}]]
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        직원정보
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>부서</th>
                                <th>직책</th>
                                <th>이메일</th>
                                <th>내선번호</th>
                                <th>휴대전화</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>이름</th>
                                <th>부서</th>
                                <th>직책</th>
                                <th>이메일</th>
                                <th>내선번호</th>
                                <th>휴대전화</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <th:block th:each="emp : ${empList}">
                            <tr>
                                <td><a th:href="@{${url}(empId=${emp.empId})}">[[${emp.ename}]]</a></td>
                                <td th:text="${emp.deptName}">부서</td>
                                <td th:text="${emp.jobName}">직책</td>
                                <td th:text="${emp.email}">이메일</td>
                                <td th:text="${emp.tel}">내선번호</td>
                                <td th:text="${emp.mobile}">휴대전화</td>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <script th:src="@{/js/table.js}"></script>
        </body>
        </html>
    </th:block>
</th:block>
