<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs5.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs5.min.js"></script>
            <link rel="stylesheet" th:href="@{/css/boardHome.css}">
            <style>
                form[name=boardform] {
                    padding: 30px 60px 10px;
                }
              
                h1 {
                    font-size: 1.5rem;
                    text-align: center;
                    color: #1a92b9
                }

                label {
                    font-weight: bold
                }

                #upfile {
                    display: none
                }

                img {
                    width: 20px;
                }

                .attachFile {
                    border: 1px dashed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    width: 85%;
                    border-radius: 10px;
                }

                .fileLabel {
                    margin: 0px 3px;
                    cursor: pointer;
                }

                .file-list {
                    display: none;
                    height: 130px;
                    overflow: auto;
                    border: 1px solid #989898;
                    padding: 10px;
                    margin: 0px 0px 1rem 15%;
                    border-radius: 10px;
                }

                .file-list .filebox p {
                    font-size: 14px;
                    margin-top: 10px;
                    display: inline-block;
                }

                .file-list .filebox .delete i {
                    color: #ff5353;
                    margin-left: 5px;
                }

                .form-group2, .form-group2-file {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .boardName {
                    word-wrap: normal;
                    padding: 5px 15vh 5px 3px;
                    margin: 0px 5px;
                    font-size: 18px;
                    width: 300px;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                }

                .form-control2 {
                    width: 85%;
                }

                .form-group-btn {
                    display: flex;
                    justify-content: center;
                    height: 70px;
                    align-items: center;
                    margin-top: 10px;
                }

                .registerBtn {
                    width: 100px;
                    background: white;
                    color: #7f7f7f;
                    border: 1.5px solid #9d9c9c;
                    font-weight: bolder;
                }

                .labelName {
                    margin: 0px;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0px 0px 0px 10px;
                }

                .dragoverFile {
                    border: 3px solid #334466;
                    z-index: 1;
                }

                .hidden {
                    display: block;
                }

            </style>
            <script th:src="@{/js/writeform.js}"></script>
            <script th:inline="javascript">
                var fileNo = 0;
                var filesArr = [];
                var maxFileCnt = 5;   // 첨부파일 최대 개수
                let totalFileSize = 0;
                let boardMap = /*[[${boardMap}]]*/ {};

                /* 첨부파일 추가 */
                function addFiles(files) {
                    var attFileCnt = $('.filebox').length;
                    attFileCnt += $('.summernoteImg').length;
                    var remainFileCnt = maxFileCnt - attFileCnt;
                    var curFileCnt = files.length;

                    if (curFileCnt > remainFileCnt) {
                        alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
                        return;
                    }

                    for (const file of files) {
                        if (validation(file)) {
                            fileListAppendHtml(file);// fileList 추가
                        }
                    }

                    updateFileListVisibility();
                    $("input:file").val(""); // 파일 입력 필드 초기화
                }

                //addFile과 handleFiles에서 공통된 파일 처리 로직
                function addFile(obj) {
                    addFiles(obj.files);
                }

                function handleFiles(dragFiles) {
                    addFiles(dragFiles);
                }

                /* fileList html 추가 */
                function fileListAppendHtml(file) {
                    // 파일 객체에 고유 fileNo 값을 추가해 배열에 저장
                    file.fileNo = fileNo;
                    filesArr.push(file);

                    // 목록 추가
                    let htmlData = '';
                    htmlData += '<div id="file' + fileNo + '" class="filebox">';
                    htmlData += '   <p class="name">' + file.name + '</p>';
                    htmlData += '   <a class="delete" onclick="deleteFile(' + fileNo + ');"><img src="/image/delete.png"/></a>';
                    htmlData += '</div>';
                    $('.file-list').append(htmlData);

                    fileNo++; // 값 증가
                }

                /* 첨부파일 검증 */
                function validation(file) {
                    const maxSize = 10 * 1024 * 1024; // 10MB
                    const totalMaxSize = 30 * 1024 * 1024; // 30MB
                    totalFileSize += file.size;

                    if (file.name.length > 100) {
                        alert("파일명이 100자 이상인 파일은 제외되었습니다.");
                    } else if (file.size > maxSize) {
                        alert("최대 파일 용량인 10MB를 초과한 파일은 제외되었습니다.");
                    } else if (totalFileSize > totalMaxSize) {
                        alert("전체 파일 용량인 30MB를 초과하였습니다.");
                    } else if (!file.name.includes('.')) {
                        alert("확장자가 없는 파일은 제외되었습니다.");
                    } else {
                        return true;
                    }
                    totalFileSize -= file.size;
                    return false;
                }

                /* 첨부파일 삭제 */
                function deleteFile(deleteNo) {
                    // 삭제할 파일 찾기
                    let fileToDelete = filesArr.find(file => file.fileNo === deleteNo);

                    if (fileToDelete) {
                        totalFileSize -= fileToDelete.size; // 해당 file의 size만큼 빼기
                    }

                    // filesArr 배열에서 삭제할 파일을 fileNo로 찾음
                    filesArr = filesArr.filter(file => file.fileNo !== deleteNo);

                    // 파일 목록에서 삭제
                    $("#file" + deleteNo).remove();

                    // 파일 목록이 비어 있으면 숨김 처리
                    updateFileListVisibility();
                }

                /* 파일 목록이 비어있으면 숨김 처리 */
                function updateFileListVisibility() {
                    $('.file-list').toggleClass('hidden', filesArr.length !== 0);
                }

                /* 폼 전송 */
                function submitForm() {
                    var form = document.querySelector("form[name='boardform']");
                    var formData = new FormData(form);

                    // 삭제되지 않은 파일만 폼데이터에 담기
                    filesArr.forEach(file => {
                        formData.append("attachFiles", file);
                    });

                    for (let [key, value] of formData.entries()) {
                        if (key === 'files') {
                            formData.delete(key);
                            console.log("delete = ", key)
                        }
                        console.log(key, value);
                    }

                    $.ajax({
                        method: 'POST',
                        url: 'add',
                        dataType: 'json',
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            console.log("data.postId=", data.postId)
                            if (data === "" || data.postId === -1) {
                                alert('게시글이 작성 중 오류가 발생하였습니다.');
                                return location.href = "/board/home";
                            }
                            alert('게시글이 작성되었습니다.');
                            return location.href = `/board/post/detail?no=${data.postId}&boardName1=${encodeURIComponent(data.boardDTO.boardName1)}&boardName2=${encodeURIComponent(data.boardDTO.boardName2)}&page=1`;
                        },
                        error: function (xhr, desc, err) {
                            alert('에러가 발생하였습니다.');
                            location.href = "/board/home";
                        }
                    });
                }

                //boardName2를 boardName1에 맞게 바꿈
                function changeBoardName2(boardName1Value, companyBoards, generalBoards, departmentBoards) {
                    let $boardName2 = $('#boardName2'); // 두 번째 select 초기화
                    $boardName2.empty();

                    if (boardName1Value === '전사게시판') {
                        $.each(companyBoards, function (index, companyBoard) {
                            $boardName2.append('<option value="' + companyBoard + '">' + companyBoard + '</option>');
                        });
                    } else if (boardName1Value === '일반게시판') {
                        $.each(generalBoards, function (index, generalBoard) {
                            $boardName2.append('<option value="' + generalBoard + '">' + generalBoard + '</option>');
                        });
                    } else if (boardName1Value === '부서게시판') {
                        $.each(departmentBoards, function (index, departmentBoard) {
                            $boardName2.append('<option value="' + departmentBoard + '">' + departmentBoard + '</option>');
                        });
                    }
                }

                function filterBoardName2(boardName1) {
                    let filteredArray = []; // 결과를 담을 배열
                    for (const value of boardMap[boardName1]) {
                        console.log("value = ", value)
                        filteredArray.push(value);
                    }
                    return filteredArray;
                }

                $(function () {
                    let companyBoards = filterBoardName2('전사게시판');
                    let generalBoards = filterBoardName2('일반게시판');
                    let departmentBoards = filterBoardName2('부서게시판');

                    var BoardName2Value = $('#boardName2Hidden').val();
                    let boardName1Value;

                    if (BoardName2Value === '' || BoardName2Value == null) {//게시판 홈에서 글쓰기 버튼을 누를 경우 초기화
                        BoardName2Value = '공지사항';
                    }

                    // BoardName2Text의 따라 BoardName1 구하기
                    if (companyBoards.includes(BoardName2Value)) {
                        boardName1Value = '전사게시판';
                    } else if (departmentBoards.includes(BoardName2Value)) {
                        boardName1Value = '부서게시판';
                    } else {
                        boardName1Value = '일반게시판';
                    }

                    changeBoardName2(boardName1Value, companyBoards, generalBoards, departmentBoards);//boardName2를 boardName1에 맞게 바꿈
                    $('#boardName1').val(boardName1Value);
                    $('#boardName2').val(BoardName2Value);

                    // $(".boardName2,.left a").removeClass('menuActive');

                    //boardName1 select를 바꿀때마다 boardName2가 같이 바뀜
                    $('#boardName1').change(function () {
                        let boardName1Value = $(this).val();  // 첫 번째 select의 선택 값

                        changeBoardName2(boardName1Value, companyBoards, generalBoards, departmentBoards);//boardName2를 boardName1에 맞게 바꿈
                    });


                    // dragover 이벤트: 드래그한 파일이 attachFlie 영역에 있을 때
                    $('.attachFile, .file-list').on('dragover', function (event) {
                        event.preventDefault();
                        $(this).addClass('dragoverFile');
                    });

                    $('.attachFile, .file-list').on('dragleave', function () {
                        $(this).removeClass('dragoverFile');
                    });

                    $('.attachFile, .file-list').on('drop', function (event) {
                        event.preventDefault();  // 기본 동작을 취소
                        $(this).removeClass('dragoverFile');

                        var dragFiles = event.originalEvent.dataTransfer.files;  // 드롭된 파일들
                        handleFiles(dragFiles);  // 드래그된 파일 처리
                    });

                });

                //Drop 영역외에 파일 끌어다 놓았을 때 브라우져 동작막깅
                document.addEventListener("dragover", function (event) {
                    event.preventDefault();
                });

                document.addEventListener("drop", function (event) {
                    event.preventDefault();
                });
            </script>
        </head>
        <body>
        <div class="main">
            <th:block th:replace="~{board/sidebar :: boardSidebarFragment}"/>

            <div class="content">
                <div class="boardTitle">글쓰기</div>
                <div class="boardContent">
                    <form method="post" enctype="multipart/form-data"
                          name="boardform" onsubmit="event.preventDefault(); submitForm();">
                        <div class="form-group2 form-group2-title">
                            <input type="hidden" id="boardName2Hidden" name="boardName2Hidden"
                                   th:value='${boardName2}'/>
                            <label class="labelName">
                                To.
                                <select id="boardName1" name="boardName1" class="boardName">
                                    <option value="전사게시판" th:if="${boardName1 == '전사게시판' ? 'selected' : ''}">전사게시판
                                    </option>
                                    <option value="일반게시판" th:if="${boardName1 == '일반게시판' ? 'selected' : ''}">일반게시판
                                    </option>
                                    <option value="부서게시판" th:if="${boardName1 == '부서게시판' ? 'selected' : ''}">부서게시판
                                    </option>
                                </select>
                                <select id="boardName2" name="boardName2" class="boardName">
                                    <option value="공지사항" th:if="${boardName2 == '공지사항' ? 'selected' : ''}">공지사항</option>
                                    <option value="주간식단표" th:if="${boardName2 == '주간식단표' ? 'selected' : ''}">주간식단표
                                    </option>
                                    <option value="FAQ" th:if="${boardName2 == 'FAQ' ? 'selected' : ''}">FAQ</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group2">
                            <label for="board_subject" class="labelName">제목</label>
                            <input name="postSubject" id="board_subject" type="text" maxlength="100"
                                   class="form-control2" placeholder="제목을 입력하세요" style="padding-left: 10px;" required>
                        </div>
                        <div class="form-group2-file">
                            <label class="labelName">파일첨부</label>
                            <div class="attachFile">
                                <img th:src="@{/image/attach.png}" alt="파일첨부">
                                이 곳에 파일을 드래그 하세요. 또는
                                <label class="fileLabel">
                                    파일선택
                                    <input type="file" name="files" id="upfile" onchange="addFile(this);" multiple/>
                                </label>
                            </div>
                        </div>
                        <div class="file-list"></div>
                        <textarea class="summernote form-control2" id="board_content" name="postContent"
                                  required></textarea>
                        <div class="form-group-btn">
                            <button type="submit" class="btn registerBtn">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script>
            let uploadedFiles = []; // 사용자가 업로드한 파일들을 저장할 배열
            let uuidList = [];
            let imgFileNo = 0;

            $(document).ready(function () {
                $('.summernote').summernote({
                    height: 400,
                    minHeight: 400,
                    maxHeight: null,
                    lang: 'ko-KR',
                    toolbar: [
                        ['fontname', ['fontname']],
                        ['fontsize', ['fontsize']],
                        ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                        ['color', ['forecolor', 'color']],
                        ['table', ['table']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']],
                        ['insert', ['picture', 'link']],
                        ['view', ['fullscreen', 'help']]
                    ],
                    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋움체', '바탕체'],
                    fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
                    focus: true,
                    callbacks: {
                        onInit: function () {
                            let targetNode = document.querySelector('.note-editable');

                            if (!targetNode) {
                                return;
                            }

                            // **MutationObserver로 이미지 삭제 감지**
                            const observer = new MutationObserver(function (mutations) {
                                mutations.forEach(function (mutation) {
                                    mutation.removedNodes.forEach(function (removedNode) {
                                        if (removedNode.nodeType === 1 && removedNode.tagName === 'IMG' && $(removedNode).hasClass('summernoteImg')) {
                                            let deletedFilename = $(removedNode).attr('data-filename');
                                            let deletedFileNo = $(removedNode).attr('data-fileNo');
                                            let uuid = $(removedNode).attr('data-uuid');
                                            // console.log("🗑 삭제 감지된 파일:", deletedFilename+"::"+deletedFileNo);
                                            //
                                            // console.log("전 전체 파일 사이즈:",totalFileSize)
                                            // 삭제할 파일 찾기
                                            let fileToDeletes = uploadedFiles.filter(item => item.file.name === deletedFilename && String(item.fileNo) === String(deletedFileNo));
                                            let fileToDelete = fileToDeletes.map(item => item.file);

                                            if (fileToDelete[0]) {
                                                totalFileSize -= fileToDelete[0].size; // 해당 file의 size만큼 빼기
                                            }
                                            // console.log("후 전체 파일 사이즈:",totalFileSize)

                                            // `uploadedFiles`에서 제거
                                            uploadedFiles = uploadedFiles.filter(item => !(item.file.name === deletedFilename && String(item.fileNo) === String(deletedFileNo)));

                                            // console.log("📂 업데이트된 uploadedFiles:", uploadedFiles);

                                            // 서버에 삭제 요청
                                            $.ajax({
                                                url: `/board/post/deleteImage?uuid=${uuid}`,
                                                type: "POST",
                                                success: function (response) {
                                                    console.log("✅ 서버에서 이미지 삭제 완료:");
                                                },
                                                error: function () {
                                                    console.log("❌ 서버 이미지 삭제 실패");
                                                }
                                            });
                                        }
                                    });
                                });
                            });

                            // **옵저버 감시 시작 (subtree: true 추가)**
                            observer.observe(targetNode, {childList: true, subtree: true});
                        },
                        onImageUpload: function (files) {
                            let attFileCnt = $('.filebox').length;
                            attFileCnt += $('.summernoteImg').length;
                            var remainFileCnt = maxFileCnt - attFileCnt;
                            var curFileCnt = files.length;
                            let imageFormData = new FormData();

                            if (curFileCnt > remainFileCnt) {
                                alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
                                return;
                            }

                            // 여러 파일을 처리하기 위해 반복문을 사용
                            let filesArray = Array.from(files); // FileList → 배열 변환
                            let isAllValid = filesArray.every(file => validation(file));
                            if (isAllValid) {
                                for (const file of files) {
                                    imageFormData.append("images", file);
                                }
                            }

                            $.ajax({
                                url: "/board/post/upload", // 이미지 업로드 처리 서버 URL
                                type: "POST",
                                data: imageFormData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    // 서버에서 반환된 URL을 배열로 받음 (여러 이미지 처리)
                                    let imageUrls = response.urls;
                                    let fileUUIDList = response.uuidList;

                                    fileUUIDList.forEach(uuid => {
                                        uuidList.push(uuid);
                                    })

                                    // 업로드된 각 이미지의 URL을 Summernote에 삽입
                                    for (let i = 0; i < files.length; i++) {
                                        imgFileNo += 1;

                                        let img = $('<img>')
                                            .attr('src', imageUrls[i]) // 서버에서 받은 URL
                                            .attr('data-fileNo', imgFileNo)
                                            .attr('data-filename', files[i].name) // 파일명을 저장
                                            .attr('data-uuid', fileUUIDList[i])
                                            .addClass('summernoteImg')
                                            .css('width', '70%');

                                        $('.summernote').summernote('insertNode', img[0]);
                                        uploadedFiles.push({ // 업로드된 파일을 배열에 추가
                                            file: files[i],        // 실제 파일 객체
                                            fileNo: imgFileNo      // 고유한 fileNo 추가
                                        });
                                    }

                                    // console.log("📂 현재 uploadedFiles:", uploadedFiles);
                                },
                                error: function () {
                                    alert("이미지 업로드 실패");
                                }
                            });
                        }
                    }
                });

                $('.boardContent .active').removeClass('active');
            });
        </script>
        </body>
        </html>
    </th:block>
</th:block>