/* 메인 컨테이너 설정 */
/* 메인 컨테이너 설정 */
.main-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

/* 중앙 콘텐츠 스타일 */
.content {
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

/* 버튼 스타일 */
form {
	text-align: right;
	color: #4CAF50;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}

button:hover {
	background-color: #45a049;
}

/* 테이블 스타일 */




/* 입력 필드 스타일 */
input[type=text], input[type=email], input[type=date], input[type=number],
	select {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}