
.left {
    font-size: 20px;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.sidebar {
    width: 350px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    padding: 30px 50px 30px 50px;
    float: left;
    margin-top: -50px;
}

.left a {
    color: black;
    text-decoration: none; /* 밑줄 제거 */
}

.left a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

/* 활성화된 메뉴의 스타일 */
.left a.active {
    font-weight: bold; /* Bold 처리 */
    font-size: 23px;
    color: #334466; /* 색상 변경 */
}