#popup-container {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-height: 70vh;
    overflow-y: auto; /* 내용이 많으면 스크롤 추가 */
    border-radius: 8px;
    position: fixed;
}

#popup-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    position: absolute; /* 부모 요소 기준으로 배치 */
    bottom: 20px; /* 팝업 하단에서 20px */
    right: 20px; /* 팝업 오른쪽에서 20px */
    cursor: pointer;
    transition: background-color 0.1s; /* hover 효과 부드럽게 */
}

#popup-close:hover {
    background-color: #0056b3; /* hover 시 색상 변경 */
}