<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
            <head>
                <title>캘린더 - 공유 일정 등록</title>
                <script th:src="@{https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js}"></script>
                <script th:src="@{https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js}"></script>
                <script th:src="@{https://cdn.jsdelivr.net/npm/@fullcalendar/moment@6.1.15/index.global.min.js}"></script>
                <script th:src="@{/js/calendar.js}"></script>
                <style>
                    textarea {
                        width: 100%;
                        height: 100px;
                        margin-bottom: 10px;
                    }

                    .btn_wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btn_wrap button {
                        margin: 0 5px;
                    }

                    #scheduleShareBtn {
                        font-weight: 600;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    #scheduleShareEmp button {
                        color: #000;
                    }

                    #scheduleShareEmp button:hover {
                        background-color: #fff !important;
                    }

                    textarea {
                        resize: none;
                    }
                </style>
            </head>
            <body class="sb-nav-fixed">
                <div class="px-5 py-4">
                    <h3 class="mb-5">공유 일정 등록</h3>
                    <div>
                        <input type="hidden" id="schedule_id" name="schedule_id" th:value="${schedule_id}">
                        <input type="hidden" id="emp_id" name="emp_id" th:value="${#authentication.name}">
                        <input type="hidden" id="share_emp" name="share_emp" th:value="${share_emp}">

                        <div class="form-group row mb-3">
                            <label for="schedule_name" class="col-sm-2 col-form-label">일정명</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="일정명을 입력하세요" name="schedule_name" id="schedule_name">
                            </div>
                        </div>

                        <div class="form-group row custom-control custom-checkbox mb-3">
                            <div class="col-sm-7">
                                <input type="checkbox" name="allDay" id="allDay" class="custom-control-input" value="">
                                <label for="allDay" class="custom-control-label">하루종일</label>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="startAt" class="col-sm-2 col-form-label">시작날짜/시간</label>
                            <div class="col-sm-8">
                                <input type="datetime-local" name="startAt" id="startAt" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="endAt" class="col-sm-2 col-form-label">종료날짜/시간</label>
                            <div class="col-sm-8">
                                <input type="datetime-local" name="endAt" id="endAt" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <p class="col-sm-2">색상</p>
                            <div class="col-sm-8">
                                <select name="bgColor" id="bgColor">
                                    <option value="#1e3a8a" style="color: #1e3a8a;">Blue100</option>
                                    <option value="#1d4ed8" style="color: #1d4ed8;">Blue200</option>
                                    <option value="#22d3ee" style="color: #22d3ee;">Blue300</option>
                                    <option value="#16a34a" style="color: #16a34a;">Green100</option>
                                    <option value="#84cc16" style="color: #84cc16;">Green200</option>
                                    <option value="#dc2626" style="color: #dc2626;">Red100</option>
                                    <option value="#f43f5e" style="color: #f43f5e;">Red200</option>
                                    <option value="#facc15" style="color: #facc15;">Yellow</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <p class="col-sm-2">공유자</p>
                            <div class="col-sm-8" style="display: flex; align-items: center; flex-wrap: wrap;">
                                <div id="scheduleShareEmp" style="display: flex; align-items: center; gap: 10px;"></div>
                                <a href="javascript:void(0);" th:attr="data-target='scheduleShareModal'" id="scheduleShareBtn">+ 공유자 선택</a>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <p class="col-sm-2">내용</p>
                            <div class="col-sm-8">
                                <textarea rows="10" name="description" id="description"></textarea>
                            </div>
                        </div>

                        <div class="btn_wrap">
                            <button type="button" class="btn btn-secondary" id="resetButton">취소</button>
                            <button type="button" class="btn btn-info" id="btnShareRegister">등록</button>
                        </div>
                    </div>
                </div>
                <!-- 공유자 선택 모달 -->
                <div class="modal fade" id="scheduleShareModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="scheduleShareModalLabel">조직도</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div th:include="common/empTree.html"></div>
                                <div class="text-area-container mt-3">
                                    <div id="selectedEmployees" style="border: 1px solid #ccc; width: 100%; min-height: 50px; display: flex; align-items: center; gap: 10px; padding: 0 10px;"></div>
                                    <button type="button" id="addEmpBtn" class="btn btn-primary mt-2">추가</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="btn_wrap">
                                    <button type="submit" class="btn btn-info" id="btnSave">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    // "선택" 열 추가
                    $('#employeeTableContainer thead tr').prepend('<th>선택</th>');
                    $('#employeeTableContainer thead tr th:nth-child(n+5):nth-child(-n+7)').hide();

                    // 직원 목록 행에 체크박스를 추가하는 함수
                    function addCheckboxes() {
                        $('#employeeTableBody tr').each(function () {
                            const empId = $(this).find('td:eq(0)').text().trim();
                            $(this).prepend('<td><input type="checkbox" name="selectedEmp" value="' + empId + '"></td>');
                            $(this).find('td:eq(1)').hide();
                            $(this).find('td:nth-child(n+5):nth-child(-n+7)').hide();
                        });
                    }

                    // 최초 로딩 시 체크박스 추가
                    addCheckboxes();

                    // AJAX 후 체크박스를 다시 추가
                    $(document).on('ajaxSuccess', function () {
                        addCheckboxes();
                    });

                    $('#btnShareRegister').on('click', function(e) {
                        e.preventDefault();

                        if (!validateForm()) {
                            return;
                        }

                        const shareData = {
                            scheduleStart: moment($("#startAt").val()).format('YYYY-MM-DD HH:mm'),
                            scheduleEnd: moment($("#endAt").val()).format('YYYY-MM-DD HH:mm'),
                            schedule: {
                                empId: $('#emp_id').val(),
                                shareEmp: $('#share_emp').val(),
                                scheduleName: $('#schedule_name').val(),
                                scheduleAllDay: $('#allDay').prop('checked') ? 1 : 0,
                                scheduleColor: $('#bgColor').val(),
                                scheduleContent: $('#description').val(),
                                isShared : true,
                            },
                            scheduleShare: {
                                shareEmp: $('#share_emp').val()
                            }
                        }

                        $.ajax({
                            url: contextPath + '/schedule/scheduleShareAdd',
                            method: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(shareData),
                            success: function(data) {
                                alert('공유 일정이 등록되었습니다.');
                                addEventToCalendar(shareData);

                                const events = [];
                                if (data != null && data.length > 0) {
                                    for (let i = 0; i < data.length; i++) {

                                        const isAllDay = data[i].scheduleAllDay === 1;
                                        events.push({
                                            title: data[i].scheduleName,
                                            start: data[i].scheduleStart,
                                            end: data[i].scheduleEnd,
                                            backgroundColor: data[i].scheduleColor,
                                            description: data[i].scheduleContent,
                                            allDay: isAllDay,
                                            extendedProps: {
                                                isShared: true, // 공유 일정
                                            },
                                        });
                                    }
                                }

                                events.forEach(function(event) {
                                    $('#calendar').fullCalendar('addEvent', event);
                                });

                                window.location.href = contextPath + '/schedule/calender';
                            },
                            error: function() {
                                alert('공유 일정 등록 오류');
                            }
                        });
                    });

                    function addEventToCalendar(eventData) {
                        const event = {
                            title: eventData.schedule_name,
                            start: eventData.startAt,
                            end: eventData.endAt,
                            backgroundColor: eventData.bgColor,
                            description: eventData.description,
                            allDay: eventData.allDay === 1,
                        };
                    }

                    let empData = []; // 직원 정보 저장 배열
                    let tempShareEmp = ''; // 임시 저장용 변수

                    function insertEmp() {
                        const targetEmpId = localStorage.getItem('selectedEmpId');

                        if (!targetEmpId) {
                            alert('유효한 입력 필드가 선택되지 않았습니다.');
                            return;
                        }

                        // 선택된 직원의 ID, 이름 가져오기
                        const selectedEmpData = $('input[name="selectedEmp"]:checked').map(function() {
                            return {
                                id: $(this).val(),
                                name: $(this).closest('tr').find('td:eq(2)').text().trim()
                            };
                        }).get();

                        if (selectedEmpData.length === 0) {
                            alert('직원 정보를 선택해 주세요.');
                            return;
                        }

                        // 현재 임시 저장된 직원 ID 가져오기
                        let currentIds = tempShareEmp ? tempShareEmp.split(',') : [];

                        selectedEmpData.forEach(emp => {
                            // 중복 확인
                            if (currentIds.includes(emp.id) || empData.map(e => e.id).includes(emp.id)) {
                                alert('이 직원은 이미 추가되었습니다: ' + emp.name);
                                return;
                            }

                            // 임시 배열에 저장
                            currentIds.push(emp.id);
                            tempShareEmp = currentIds.join(',');

                            empData.push(emp);

                            const empEl = $('<button class="selected_emp mr-2 btn btn-sm btn-outline-secondary">')
                                .append(emp.name)
                                .append(
                                    $('<img src="/image/delete.png" class="remove-icon" style="width: 16px; height: 16px; margin-left: 10px;" alt="삭제"/>')
                                )
                                .val(emp.id);

                            $('#selectedEmployees').append(empEl);

                            // 삭제 기능
                            empEl.on('click', function() {
                                $(this).remove();

                                // 임시 저장소에서 해당 직원 ID 제거
                                let currentIds = tempShareEmp.split(',');
                                const empIdToRemove = emp.id;
                                currentIds = currentIds.filter(id => id !== empIdToRemove);
                                tempShareEmp = currentIds.join(',');

                                empData = empData.filter(e => e.id !== emp.id);
                            });
                        });

                        alert('선택된 직원 : ' + selectedEmpData.map(emp => emp.name).join(', '));
                    }

                    // 공유자 선택 버튼 클릭 시
                    $("#scheduleShareBtn").on("click", function(e) {
                        empData = [];
                        e.preventDefault();

                        const targetId = $(this).data('target');
                        localStorage.setItem('selectedEmpId', targetId);

                        $('#scheduleShareModal').modal('show');
                    });

                    // 추가 버튼 클릭 시
                    $("#addEmpBtn").on('click', function() {
                        insertEmp();
                    });

                    // 추가한 직원 클릭시 삭제
                    $(document).on('click', '.selected_emp', function() {
                        const empBtn = $(this);
                        const empIdToRemove = empBtn.val();

                        // #share_emp에서 해당 직원 ID 제거
                        let currentIds = $('#share_emp').val().split(',');
                        currentIds = currentIds.filter(id => id !== empIdToRemove);
                        $('#share_emp').val(currentIds);

                        // empData에서 해당 직원 삭제
                        empData = empData.filter(emp => emp.id !== empIdToRemove);

                        empBtn.remove();

                        $('input[name="selectedEmp"][value="' + empIdToRemove + '"]').prop('checked', false);
                    });

                    // 저장버튼 클릭 시
                    $('#btnSave').on('click', function() {
                        if (empData.length === 0) {
                            alert("직원이 추가되지 않았습니다.");
                            return;
                        }

                        // 임시 저장된 값을 실제 share_emp에 저장
                        $('#share_emp').val(tempShareEmp);

                        // 선택된 직원들이 저장된 배열을 #scheduleShareEmp에 출력
                        empData.forEach(emp => {
                            const empEl = $('<button class="mr-2 btn btn-sm btn-outline-secondary">')
                                .append(emp.name)
                                .append(
                                    $('<img src="/image/delete.png" class="remove-icon" style="width: 16px; height: 16px; margin-left: 10px;" alt="삭제"/>')
                                );

                            // #scheduleShareEmp에 버튼 추가
                            $('#scheduleShareEmp').append(empEl);

                            // 삭제 기능
                            empEl.on('click', function() {
                                $(this).remove();

                                // share_emp에서 해당 직원 ID 제거
                                let currentIds = $('#share_emp').val().split(',');
                                const empIdToRemove = emp.id;
                                currentIds = currentIds.filter(id => id !== empIdToRemove);
                                $('#share_emp').val(currentIds.join(','));

                                // empData에서 해당 직원 삭제
                                empData = empData.filter(e => e.id !== emp.id);
                            });
                        });

                        // 모달 닫기
                        $('#scheduleShareModal').modal('hide');
                    });

                    $('#scheduleShareModal').on('hidden.bs.modal', function() {
                        // 저장버튼을 누르지 않고 닫았을 경우 초기화
                        if (!$('#share_emp').val()) {
                            empData = [];
                            tempShareEmp = '';
                        }

                        $('input[name="selectedEmp"]').prop('checked', false);
                        $('#employeeTableBody').empty();
                        $('#selectedEmployees').empty();

                        // 트리 초기화
                        $("#tree").fancytree("getTree").getRootNode().visit(function(node) {
                            if (node.getLevel() === 1) {
                                node.setExpanded(true);
                            } else if (node.getLevel() >= 2) {
                                node.setExpanded(false);
                            }
                        });

                        $('#tree').find('.fancytree-expanded').each(function() {
                            if (!$(this).closest('li[role="treeitem"]').is(':first-child')) {
                                $(this).removeClass('fancytree-expanded');
                            }
                        });

                        $('#tree').removeClass('fancytree-plain');
                        $('#tree').find('.fancytree-active').removeClass('fancytree-active');
                    });

                    function validateForm() {
                        const $scheduleName = $("#schedule_name");
                        const $start = $("#startAt");
                        const $end = $("#endAt");
                        const $shareEmp = $('#share_emp');

                        if ($scheduleName.val().trim() === "") {
                            alert("일정명을 입력하세요");
                            $scheduleName.focus();
                            return false;
                        }

                        if ($start.val().trim() === "") {
                            alert("시작 날짜/시간을 선택하세요");
                            $start.focus();
                            return false;
                        }

                        if (new Date($start.val()) > new Date($end.val())) {
                            alert("끝나는 날짜/시간이 시작 날짜/시간보다 이전입니다. 다시 확인해 주세요.");
                            return false;
                        }

                        if ($end.val().trim() === "") {
                            alert("종료 날짜/시간을 선택하세요");
                            $end.focus();
                            return false;
                        }

                        if (!$shareEmp.val()) {
                            alert('공유자를 선택해주세요.');
                            return false;
                        }

                        return true;
                    }

                    $('#resetButton').on('click', function() {
                        $('#schedule_name').val('');
                        $("#startAt, #endAt").prop("type", "datetime-local").val("");
                        $('#description').val('');
                        $('#bgColor').val('#1e3a8a');
                        $('#allDay').prop('checked', false);
                        $('#share_emp').val('');
                        $('#scheduleShareEmp').empty();
                        $('input[name="selectedEmp"]').prop('checked', false);
                    });
                </script>
            </body>
        </html>
    </th:block>
</th:block>