<!DOCTYPE html>
<html lang="en">
<head>
    <title>error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <style>
        body {
            background-color: #334466;
            color: white;
        }
    </style>
</head>
<body>
<div class="container mt-5 text-center">
    <h1 class="display-4">에러가 발생했습니다.</h1>
    <p class="lead" th:text="${errorMessage}"></p>
    <button id="back" class="btn btn-secondary btn-sm mt-3">뒤로가기</button>
</div>
<script>
    $('#back').click(function () {
        history.back();
    });
</script>
</body>

</html>