.content-container {
    display: flex; /* 조직도와 직원 목록을 가로로 배치 */
    gap: 30px; /* 조직도와 직원 목록 사이의 간격 */
}

#treeContainer, #employeeTableContainer {
    width: 50%; /* 두 컨테이너의 너비를 같게 설정 */
}

/* 테이블 스타일 */
table.table {
    width: 100%;
}

#tree_table {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 제목 스타일 */
.title {
    color: #334466;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#tree_title {
    margin-bottom: 25px;
}

/* 검색창 스타일 */
.search-container-inline {
    display: inline-flex; /* 제목과 같은 줄에 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-left: 20px; /* 제목과 검색창 사이 간격 */
}

.search-container-inline input {
    width: 300px; /* 검색창 너비 */
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s;
}

.search-container-inline input:focus {
    border-color: #0066cc;
}

.search-container-inline button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}

.search-container-inline img {
    width: 20px;
    height: 20px;
}