main {
    background: #ededed;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.container-messenger {
    display: flex;
    max-width: none;
    width: calc(100% - 10%);
    height: 800px;
    padding: 0;
    margin: 10px 5% 10px !important;
    border: 1px solid #ededed;
}

.sidebar {
    width: 370px;
    min-width: 370px;
    background-color: #c7cbdd;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar .messenger-room {
    cursor: pointer;
    height: 120px;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.sidebar .messenger-room:hover {
    background: #e7e7e7;
    cursor: pointer;
}

.sidebar .messenger-room-active {
    background: lavender;
}

.messenger-room-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
}

.messenger-chat {
    font-size: larger;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
}

.messenger-chat-active {
    font-weight: bold;
    color: darkorchid;
}

.messenger-last-message-date {
    font-size: 12px;
    line-height: 32px;
}

.messenger-room-content {
    margin-top: 8px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.messenger-last-message {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    margin: 15px 0;
    width: 300px;
}

.messenger-unread-message-count {
    margin: 10px 10px;
    background: aquamarine;
    border-radius: 50%;
    padding: 9px;
    line-height: 12px;
    font-weight: bold;
}

.messenger-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
}

.messenger-no-chat {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.messenger-header {
    color: dimgray;
    background-color: #c7bcef;
    padding: 10px 15px 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    height: 100px;
    min-height: 100px;
}

.messenger-header-profile {
    display: flex;
    align-items: center;
}

.messenger-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.messenger-chat-room {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messenger-body {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: white;
}

.messenger-content-body {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: white;
}

.standardDay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.standardDay-content {
    background: lavender;
    border-radius: 10px;
    width: 250px;
}

.leaveMessage {
    background: lavenderblush;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    padding: 10px;
    word-break: keep-all;
}

.inviteMessage {
    background: aliceblue;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    padding: 10px;
    word-break: keep-all;
}

.messenger-message {
    margin-bottom: 15px;
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.messenger-message img {
    max-width: 100%;
    height: 40px;
    border-radius: 8px;
}

.messenger-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    background: white;
    align-items: flex-end;
}

.messenger-footer input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.messenger-footer button {
    padding: 7px 17px;
    border: none;
    background-color: #656e93;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    margin-left: 5px;
}

#chatRoomName {
    width: 85%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#chatMessageContent {
    width: 100%;
    height: 50px;
    resize: none;
    padding: 13px 10px;
    border-radius: 8px;
    max-height: 500px;
}

#chatMessageContent:focus {
    border: none;
    outline: 2px solid #c7bcef;
}

.messenger-info {
    width: 25%;
    background-color: white;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    display: none;
    min-width: 300px;
}

.messenger-info.active {
    display: block;
}

.messenger-info-header {
    color: dimgray;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 25px;
    font-weight: bold;
    background-color: #c7bcef;
    height: 100px;
    text-align: center;
    line-height: 70px;
}

.messenger-info-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-info-title {
    color: blueviolet;
    font-weight: bold;
    font-size: 13px;
    background: white;
    border: none;
    float: right;
    width: 50px;
}

.btn-info-title:hover {
    opacity: 0.5;
}

.messenger-info-body {
    padding: 5px 15px;
    border-top: 1px solid #ddd;
}

.member-header:hover, .messenger-info-footer:hover {
    cursor: pointer;
}

.btn-invite {
    background: white;
    color: gray;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 13px;
    margin: 8px 0;
}

.btn-invite:hover {
    color: mediumpurple;
    border: 1px solid mediumpurple;
}

.member-text {
    margin-left: 15px;
    letter-spacing: 3px;
}

.member-header {
    display: flex;
    align-items: center;
}

.member-img {
    border-radius: 50% !important;
    background-color: white;
    border: 1px solid #e1e1e1;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.member-body {
    font-weight: bold;
    display: none;
}

.member-body.active {
    display: block;
}

.messenger-info-body .member {
    height: 50px;
    display: flex;
    align-items: center;
}

.messenger-info-footer {
    padding: 5px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.scroll::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.scrollbar {
    height: 250px;
    overflow-y: scroll;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
    background: #ccc; /*스크롤바 뒷 배경 색상*/
}

.messenger-message-start {
    min-width: 50px;
}

.messenger-sender-img-box {
    height: 28px;
    width: 40px;
    z-index: 0;
    top: 24px;
    position: absolute;
    margin-bottom: 10px;
}

.messenger-sender-img {
    border-radius: 50% !important;
    background-color: white;
    border: 1px solid #e1e1e1;
    width: 50px;
    height: 50px;
}

.messenger-message-middle {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    max-width: 40%;
}

.messenger-sender-name {
    margin-left: 14px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.messenger-message-text {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    padding: 8px 12px;
    border-radius: 25px;
    white-space: pre-line;
    word-break: break-word;
    background: #e1e1e1;
}

.messenger-message-end {
    min-width: 50px;
    padding: 26px 0 2px;
    font-size: 11px;
    margin: 0 5px;
    display: flex;
    align-items: flex-end;
}

tr td {
    vertical-align: middle !important;
}

#employeeTableBody tr:hover {
    background: #e7e7e7;
    cursor: pointer;
}

#treeContainer {
    width: 220px !important;
}

#employeeTableContainer {
    width: 580px !important;
}

.modal-lg, .modal-xl {
    max-width: 900px !important;
}

.user-tag .remove {
    margin-left: 10px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}

.user-tag .remove:hover {
    color: red;
}

.user-tag {
    display: inline-block;
    background-color: #b6d0ff;
    border: 1px solid #4689ff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #334466;
    cursor: default;
    margin-bottom: 5px;
}

.input-modal-rename {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #898989;
    height: 40px;
    padding: 5px 10px;
}

.modal-setRoomName {
    display: none;
    width: 90%;
}

.modal-roomName {
    width: 10%;
    font-weight: bold;
}

.input-modal-roomName {
    width: 80%;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 5px 10px;
}

.input-modal-roomName:focus-visible {
    outline: none;
}

#senderName {
    margin-left: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
}

.tooltip-message {
    position: relative;
    display: inline-block;
}

.tooltip-message .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 21%;
    left: -160%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-message .tooltiptext::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 103%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip-message:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.AI-logo1 {
    position: absolute;
    top: 24%;
    display: inline;
    left: 27%;
    color: azure;
}

#AISummeryTopic, #AISummeryContent {
    margin-bottom: 20px;
}