<th:block th:fragment="setContent(content)">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Unite</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                crossorigin="anonymous"></script>
        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <!-- Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <!-- Bootstrap 5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!--        SockJs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
        <!--        stomp-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                crossorigin="anonymous"></script>
        <!--마크다운-->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script th:src="@{/js/layout.js}"></script>
        <link th:href="@{/css/layout.css}" rel="stylesheet"/>
        <script th:src="@{/js/notification.js}"></script>
        <link th:href="@{/css/notification.css}" rel="stylesheet"/>
        <script th:src="@{/js/layout_ai.js}"></script>
        <link th:href="@{/css/layout_ai.css}" rel="stylesheet"/>
        <script th:src="@{/js/messenger.js}"></script>

    </head>
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/home}" style="font-weight:bold">
            <img th:src="@{/image/logo_white.png}" width="30px"> Unite
        </a>
        <!-- Sidebar Toggle -->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Content Wrapper -->
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <!-- 날씨 정보 -->
            <div id="weatherInfo" style="display: flex; align-items: center; margin-right: 20px;">
                <img id="weatherIcon" alt="Weather Icon" style="width: 40px; height: 40px; margin-right: 8px;"/>
                <div style="color: white; font-size: 12px;">
                    <div>
                        <span id="currentTemp" style="font-size: 14px; font-weight: bold;"></span>°C
                    </div>
                    <div>
                        <span id="maxTemp"></span> / <span id="minTemp"></span>°C
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <!-- 메신저 -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messengerDropdown" role="button"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="line-height: 30px;">
                    <i class="bi bi-chat-right-dots-fill fs-4"></i>
                    <span class="badge badge-danger badge-counter" id="messengerBadge" style="display:none;">0</span>
                </a>
                <div class="dropdown-list dropdown-menu dropdown-menu-end shadow animated--grow-in"
                     aria-labelledby="messengerDropdown" style="overflow-y: auto;width: 350px;">
                    <h6 class="dropdown-header chat-header-list">채팅 알림
                        <button id="MessengerButton" class="btn btn-link text-decoration-none text-black fw-bold"
                                style="font-size: 15px;padding: 0;">GO MESSENGER
                        </button>
                    </h6>
                    <div id="messengerList" class="messengerList1" style="padding: 10px;">
                        <p id="noMessengerMessage" class="text-center text-muted"
                           style="margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">새로운 메시지가 없습니다.</p>
                    </div>
                    <div class="text-end small text-gray-500 w-100">

                    </div>
                </div>
            </li>
            <!-- 알림 -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="line-height: 35px;">
                    <i class="fas fa-bell fa-fw fs-4"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter" id="notificationBadge" style="display:none;">0</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-end shadow animated--grow-in"
                     aria-labelledby="alertsDropdown" style="max-height: 300px; overflow-y: auto; min-width: 250px;">
                    <h6 class="dropdown-header">알림 센터</h6>
                    <div id="notificationList" style="padding: 10px;">
                        <!-- 알림 항목이 동적으로 추가됩니다 -->
                        <p id="noNotificationsMessage" class="text-center text-muted"
                           style="margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">새로운 알림이
                            없습니다.</p>
                    </div>
                    <button id="loadMoreButton" class="btn btn-link text-center small text-gray-500 w-100">더 보기</button>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><img th:src="@{/api/emp/profile-image(empId=${#authentication.name})}"
                                              width="30px" style="border-radius: 50%; background-color: white;"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/emp/password}">비밀번호 변경</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/auth/logout}">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!--                    <div class="sb-sidenav-menu-heading">바로가기메뉴-주석풀고 사용</div>-->
                        <!--                    <a class="nav-link" href="index.html">-->
                        <!--                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        <!--                        Dashboard-->
                        <!--                    </a>-->
                        <!--                    <div class="sb-sidenav-menu-heading">메뉴</div>-->

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu1" aria-expanded="false"
                           aria-controls="collapseCustomMenu1">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-business-time"></i></div>
                            근태관리
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomMenu1" aria-labelledby="heading1"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/attend/info}">근태현황</a>
                                <a class="nav-link"
                                   sec:authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ADMIN') or principal.deptId == 1120"
                                   th:href="@{/manager/attendInfoList}">부서 근태현황
                                </a>
                                <a class="nav-link" th:href="@{/attend/vacation}">휴가 현황</a>
                                <a class="nav-link"
                                   sec:authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ADMIN') or principal.deptId == 1120"
                                   th:href="@{/manager/vacationInfoList}">부서 휴가현황
                                </a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu2" aria-expanded="false"
                           aria-controls="collapseCustomMenu2">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-card"></i></div>
                            인사정보
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomMenu2" aria-labelledby="heading2"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/emp/info}">나의 인사정보</a>
                                <a class="nav-link"
                                   sec:authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ADMIN') or principal.deptId == 1120"
                                   th:href="@{/manager/empInfoList}">부서 인사정보
                                </a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu3" aria-expanded="false"
                           aria-controls="collapseCustomMenu3">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-address-book"></i></div>
                            주소록
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomMenu3" aria-labelledby="heading3"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/contact/inner}">사내 주소록</a>
                                <a class="nav-link" th:href="@{/contact/outer}">외부 주소록</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu4" aria-expanded="false"
                           aria-controls="collapseCustomMenu4">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
                            캘린더
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomMenu4" aria-labelledby="heading4"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/schedule/calender}">일정 관리</a>
                                <a class="nav-link" th:href="@{/schedule/scheduleShare}">공유 일정 등록</a>
                                <a class="nav-link" th:href="@{/schedule/scheduleDept}">부서 일정 등록</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapsePages1" onclick="location.href='/board/home'"
                           aria-expanded="false" aria-controls="collapsePages1">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-comments"></i></div>
                            게시판
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapsePages2"
                           aria-expanded="false" aria-controls="collapsePages2">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            전자 문서
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/doc/waiting}">결재 대기 문서</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages2">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                   data-bs-target="#pagesCollapseAuth2" aria-expanded="false"
                                   aria-controls="pagesCollapseAuth2">
                                    문서 작성
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth2" aria-labelledby="headingOne"
                                     data-bs-parent="#sidenavAccordionPages2">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" th:href="@{/doc/write/general}">일반 문서</a>
                                        <a class="nav-link" th:href="@{/doc/write/vacation}">휴가 신청</a>
                                        <a class="nav-link" th:href="@{/doc/write/trip}">출장 신청</a>
                                        <a class="nav-link" th:href="@{/doc/write/buy}">구매 신청</a>
                                    </nav>
                                </div>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/doc/inProgress}">결재 진행 문서</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages3">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                   data-bs-target="#pagesCollapseAuth3" aria-expanded="false"
                                   aria-controls="pagesCollapseAuth">
                                    문서등록대장
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth3" aria-labelledby="headingOne"
                                     data-bs-parent="#sidenavAccordionPages3">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" th:href="@{/doc/list/dept}">부서 기안 문서</a>
                                        <a class="nav-link" th:href="@{/doc/list/sign}">내가 결재한 문서</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu6" aria-expanded="true"
                           aria-controls="collapseCustomMenu6" id="collapseRemove">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
                            프로젝트
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse show" id="collapseCustomMenu6" aria-labelledby="heading6"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/project/main}">진행 중 프로젝트</a>
                                <th:block th:if="${not #lists.isEmpty(left)}">
                                    <a th:href="@{/project/detail(projectId=${projectId})}" th:text="|- ${left}|" class="nav-link"  style="padding:0px 0px 10px 20px;"></a>
                                </th:block>
                                <a class="nav-link" th:href="@{/api/project/done?state=2}">완료 프로젝트</a>
                                <a class="nav-link" th:href="@{/api/project/done?state=1}">취소 프로젝트</a>
                                <a class="nav-link" th:href="@{/project/create}">프로젝트 추가</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseCustomMenu7" aria-expanded="false"
                           aria-controls="collapseCustomMenu7">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-car-side"></i></div>
                            자원예약
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomMenu7" aria-labelledby="heading7"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/reservation/reservationCalender}">자원예약</a>
                                <a class="nav-link" th:href="@{/reservation/myReservationList}">나의 예약 목록</a>
                            </nav>
                        </div>

                        <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseCustomMenu10" aria-expanded="false"
                               aria-controls="collapseCustomMenu10">
                                <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                관리자
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCustomMenu10" aria-labelledby="heading10"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/admin/emp-manage}">직원 관리</a>
                                    <a class="nav-link" th:href="@{/admin/holiday}">휴일 설정</a>
                                    <a class="nav-link" th:href="@{/admin/notice}">공지사항 관리</a>
                                    <a class="nav-link" th:href="@{/admin/resource}">자원 관리</a>
                                </nav>
                            </div>
                        </th:block>


                        <!--                    이중메뉴!!-->
                        <!--                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"-->
                        <!--                       aria-expanded="false" aria-controls="collapsePages">-->
                        <!--                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>-->
                        <!--                        Pages-->
                        <!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                        <!--                    </a>-->
                        <!--                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"-->
                        <!--                         data-bs-parent="#sidenavAccordion">-->
                        <!--                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
                        <!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"-->
                        <!--                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"-->
                        <!--                               aria-controls="pagesCollapseAuth">-->
                        <!--                                Authentication-->
                        <!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                        <!--                            </a>-->
                        <!--                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"-->
                        <!--                                 data-bs-parent="#sidenavAccordionPages">-->
                        <!--                                <nav class="sb-sidenav-menu-nested nav">-->
                        <!--                                    <a class="nav-link" href="login.html">Login</a>-->
                        <!--                                    <a class="nav-link" href="register.html">Register</a>-->
                        <!--                                    <a class="nav-link" href="password.html">Forgot Password</a>-->
                        <!--                                </nav>-->
                        <!--                            </div>-->
                        <!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"-->
                        <!--                               data-bs-target="#pagesCollapseError" aria-expanded="false"-->
                        <!--                               aria-controls="pagesCollapseError">-->
                        <!--                                Error-->
                        <!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                        <!--                            </a>-->
                        <!--                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"-->
                        <!--                                 data-bs-parent="#sidenavAccordionPages">-->
                        <!--                                <nav class="sb-sidenav-menu-nested nav">-->
                        <!--                                    <a class="nav-link" href="401.html">401 Page</a>-->
                        <!--                                    <a class="nav-link" href="404.html">404 Page</a>-->
                        <!--                                    <a class="nav-link" href="500.html">500 Page</a>-->
                        <!--                                </nav>-->
                        <!--                            </div>-->
                        <!--                        </nav>-->
                        <!--                    </div>-->

                        <!--                    바로가기 단건메뉴!!-->
                        <!--                    <div class="sb-sidenav-menu-heading">Addons</div>-->
                        <!--                    <a class="nav-link" href="charts.html">-->
                        <!--                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                        <!--                        Charts-->
                        <!--                    </a>-->
                        <!--                    <a class="nav-link" href="tables.html">-->
                        <!--                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
                        <!--                        Tables-->
                        <!--                    </a>-->
                    </div>
                </div>


                <div class="sb-sidenav-footer">
                    <div class="small" style="font-weight: bold">로그인한 사용자: [[${#authentication.name}]]</div>
                    <div id="user-info" style="display: none" th:data-username="${#authentication.name}"></div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <th:block th:insert="${content}"></th:block>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Unite 2025</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div id="aiBadge" class="ai-badge">
        <img th:src="@{/image/ai_icon4.png}" alt="AI Badge">
    </div>
    <!-- AI채팅창 -->
    <div id="aiChat" class="chat-window hiddenAi">
        <div class="chat-header">
            <span>AI Chat&nbsp;&nbsp;<img th:src="@{/image/OpenAI_logo.png}" width="70px"></span>
            <span id="closeChat" class="close-btn">&times;</span>
        </div>
        <div class="chat-body">
            <!-- 동적으로 추가될 채팅 메시지 -->
        </div>
        <div class="chat-footer">
            <label for="chatInput"></label><textarea id="chatInput" placeholder="Type your command..."></textarea>
            <button id="aiSend">Send</button>
        </div>
    </div>

    <div id="toastContainer" style="position: fixed; bottom: 10px; right: 10px; z-index: 9999;"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const collapseMenu = document.getElementById("collapseCustomMenu6");
            const collapseRemove = document.getElementById("collapseRemove");
            const isMenuOpen = localStorage.getItem("menuOpen");

            if (isMenuOpen === "true") {
                collapseMenu.classList.add("show");
                collapseRemove.classList.remove("collapsed");
            } else {
                collapseMenu.classList.remove("show");
            }
        });

        document.getElementById("collapseCustomMenu6").addEventListener("shown.bs.collapse", function () {
            localStorage.setItem("menuOpen", "true");
        });
        document.getElementById("collapseCustomMenu6").addEventListener("hidden.bs.collapse", function () {
            localStorage.setItem("menuOpen", "false");
        });
    </script>

    </body>
    </html>
</th:block>