<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <title>Tables - SB Admin</title>
            <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet"
                  type="text/css">
            <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" type="text/javascript"></script>
        </head>
        <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" style="color: #334466; font-weight: bold">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables
                            documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="myTable" class="display">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <script>
            $(document).ready(function () {
                const lang_kor = {
                    "decimal": "",
                    "emptyTable": "데이터가 없습니다.",
                    "info": "_START_-_END_ (총 _TOTAL_명)",
                    "infoEmpty": "0명",
                    "infoFiltered": "(전체 _MAX_명 중 검색 결과)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_개씩 보기",
                    "loadingRecords": "로딩중...",
                    "processing": "처리중...",
                    "search": "검색:",
                    "zeroRecords": "검색된 데이터가 없습니다.",
                    "paginate": {"first": "첫 페이지", "last": "마지막 페이지", "next": "다음", "previous": "이전"},
                    "aria": {"sortAscending": ":오름차순 정렬", "sortDescending": ":내림차순 정렬"}
                };

                $('#myTable').DataTable({
                    language : lang_kor
                });
            });
        </script>
        </body>
        </html>
    </th:block>
</th:block>
