<th:block th:replace="layout :: setContent(~{this::content})">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <title>사내 주소록</title>
        </head>
        <body>
        <main>
            <div class="container px-4">
                <h1 class="mt-4" style="color: #334466; font-weight: bold">사내 주소록</h1>
                <div th:include="common/empTree.html"></div>
            </div>
        </main>
        </body>
        </html>
    </th:block>
</th:block>
